.about__page{
    margin-top: 209px;
    margin-bottom: 200px;
}

.about__blocks{
    display:flex;
    max-width: fit-content;
    gap:95px;
    margin-left:auto ;
    margin-right: auto;
}

.about__title{
    text-align: center;
    color:#5579F6;
    font-size:40px;
    margin-bottom: 88px;
    margin-inline: auto;
}

.about__blocks > div:nth-child(2) .aboutUs__desc {
    border: 2px #549AEA solid;
}

.about__blocks > div:nth-child(2) .aboutUs__pros {
    color:#766A00;
    min-width: 191px;
    height: 30px;
    right: 85px;
    top:100px;
}

.about__blocks > div:nth-child(2) {
    top:100px;
    transform: translateY(103px);
}

.about__blocks > div:nth-child(3) .aboutUs__pros{
    width: 180px;
    right:41px;
   
}


 
.about__blocks > div:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 37%;
    left: 100%;
    width: 48px; 
    height: 197px; 
    border-top: 2px solid #A19696;
    border-right: 2px solid #A19696;
    pointer-events: none;
}


.about__blocks > div:nth-child(1) .aboutUs__imgBlock::before {
    content: "";
    position: absolute;
    top: calc(50% + 155px); 
    left: calc(100% + 48px);
    width: 60px; 
    border-top: 2px solid #A19696;
}

.about__blocks > div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 37%; 
    left: calc(100% - 40px);
    width: 60px; 
    height: 197px; 
    border-bottom: 2px solid #A19696;
    border-right: 2px solid #A19696;
    transform: translateY(-100%); 
    pointer-events: none;
    z-index: 10;
}

.about__blocks > div:nth-child(3) .aboutUs__imgBlock::before {
    content: "";
    position: absolute;
    top:38%;
    left: -75px; 
    width: 100px; 
    border-top: 2px solid #A19696;
    z-index: 10;
}

@media (min-width:1025px) and (max-width:1441px){
    .about__page{
        margin-inline: 0;
    }
    .about__blocks > div:nth-child(3) .aboutUs__imgBlock::before,
    .about__blocks > div:nth-child(2)::after ,
    .about__blocks > div:nth-child(1) .aboutUs__imgBlock::before,
    .about__blocks > div:nth-child(1)::after{
        display: none;
    }

    .about__blocks{
        
        gap:0px;
    }
    .aboutUs__pros{
        font-size: 16px;
    }
     .about__blocks > div:nth-child(2) .aboutUs__pros{
        right: 23%;
        top:25%;
    }
    .about__blocks > div:nth-child(3) .aboutUs__pros{
        width: 160px;
        top:20%;
        right: 15%;
    }

    .about__blocks > div:nth-child(1) .aboutUs__pros{
        top:20%;
        right: 15%;
    }
}

@media (max-width: 1024px){
    .about__title{
        font-size: 30px;
        margin-bottom: 40px;
    }

    .about__page{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about__blocks > div:nth-child(3) .aboutUs__imgBlock::before,
    .about__blocks > div:nth-child(2)::after ,
    .about__blocks > div:nth-child(1) .aboutUs__imgBlock::before,
    .about__blocks > div:nth-child(1)::after{
        display: none;
    }
    .about__blocks{
        flex-direction: column;
        gap:0px;
    }

    .about__blocks > div:nth-child(2) {
        top:0;
        transform: translateY(0);
    }

    .about__blocks > div:nth-child(2) .aboutUs__pros{
        right: 25%;
        top:25%;
        
    }
    .about__blocks > div:nth-child(3) .aboutUs__pros{
        width: 160px;
        top:20%;
        right: 18%;
    }

    .about__blocks > div:nth-child(1) .aboutUs__pros{
        top:20%;
        right: 18%;
        width: 160px;
    }
}

@media (max-width:768px){
    .about__title{
        font-size: 30px;
        margin-bottom: 40px;
    }

    .about__page{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about__blocks > div:nth-child(3) .aboutUs__imgBlock::before,
    .about__blocks > div:nth-child(2)::after ,
    .about__blocks > div:nth-child(1) .aboutUs__imgBlock::before,
    .about__blocks > div:nth-child(1)::after{
        display: none;
    }

    

    .about__blocks{
        flex-direction: column;
        gap:0px;
    }

    .about__blocks > div:nth-child(2) {
        top:0;
        transform: translateY(0);
    }

    .about__blocks > div:nth-child(2) .aboutUs__pros{
        right: 20%;
        top:45%;
    }
    .about__blocks > div:nth-child(3) .aboutUs__pros{
        width: 160px;
        top:40%;
        right: 15%;
    }

    .about__blocks > div:nth-child(1) .aboutUs__pros{
        top:40%;
        right: 10%;
    }


}



