.cartItem {
    display: grid;
    grid-template-columns: 80px 1fr 150px 100px 40px;
    align-items: center;
    padding-block: 22px;
    border-top: 1px #8E8E8E solid;
}

.cart__image {
    width: 67px;
    height: 59px;
    object-fit: contain;
    border-radius: 10px;
}

.cartItem__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
}

.cartItem__stepper {
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.stepper__input {
    width: 45px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    outline: none;
}

.stepper__input::-webkit-inner-spin-button,
.stepper__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stepper__input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.cartItem__btn--minus,
.cartItem__btn--plus {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
}

.cartItem__btn--minus img,
.cartItem__btn--plus img {
    width: 16px;
    height: 16px;
    display: block;
}

.cartItem__price {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 2px;
    color: #6083F1;
}

.cartItem__bin-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
}

.cartItem__bin-btn img {
    width: 20px;
    height: 20px;
}

@media (max-width:768px) {
    .cart__image{
        display: none;
    }
    .cartItem{
        grid-template-columns: 1fr 2fr 1fr 0.3fr;
    }
    
}