.catalog{
    margin-top: 350px;
}

.catalog__title{
    color:#5579F6;
    font-size: 40px;
    margin-bottom: 13px;
}

.catalog__items{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.catalog__sections{
    display: grid;
    grid-template-columns: 80px 2fr 1fr 1fr 1fr 100px 50px;
    margin-bottom: 10px;
    align-items: center;
    padding: 7px 40px;
    gap:10px;
}

.catalog__sections > span{
    justify-self: center;
}

.catalog__sections .catalog__sec--name {
    justify-self: start;
    text-align: left;
}

.catalog__filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}

.catalog__items > a {
    display: block;           
    text-decoration: none;    
    color: inherit;          
}

.catalog__items > a:nth-child(even) .item {
    background-color: #F1F1F1;
}