.item {
    display: grid;
    grid-template-columns: 80px 2fr 1fr 1fr 1fr 100px 50px;
    align-items: center;
    background-color: #ECF5FF;
    padding: 7px 40px;
    gap: 15px; 
    text-align: center; 
    cursor:pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.item:hover{
    transform: translateY(-4px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12); 
    z-index: 10;              
    border-radius: 8px; 
}

.item__name {
    text-align: left;
    font-weight: 500;
}

.item__img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: contain;
    justify-self: center;
}

.item:nth-child(even) {
    background-color: #F1F1F1;
}

.item__characteristics {
    display: contents; 
}
